In [2]:
import pandas as pd

In [5]:
data = {'A': [1, 2, 3, 4, 5, 6],
        'B': ['a', 'b', 'c', 'd', 'e', 'f']}
df = pd.DataFrame(data)
df.head(10)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e
5  6  f

In [8]:
# Pega aleatoriamente dados de um DataFrame, (x), indica quantos dados serão selecionados

df.sample(3)

   A  B
2  3  c
4  5  e
5  6  f

In [6]:
# O método df.shape em um DataFrame do pandas retorna uma tupla representando as dimensões do DataFrame. 
# A tupla tem dois elementos: o primeiro elemento indica o número de linhas e o segundo elemento indica o número de colunas.

df.shape

(5, 2)

In [7]:
# Mostra as colunas do DataFrame

df.columns

Index(['A', 'B'], dtype='object')