import pandas as pd

# Exemplo de dados
data = {'Marca': ['MarcaA', 'MarcaA', 'MarcaB', 'MarcaB', 'MarcaC', 'MarcaC'],
        'Preço': [500, 600, 800, 750, 900, 950]}

df = pd.DataFrame(data)

# Calcular a média de preço para cada marca
media_por_marca = df.groupby('Marca')['Preço'].mean()

# Usar qcut para categorizar em intervalos
categorias = pd.qcut(media_por_marca, q=[0, 0.33, 0.66, 1], labels=['Barato', 'Médio', 'Caro'])

# Criar um DataFrame com as médias e categorias
df_media_categorias = pd.DataFrame({'Média de Preço': media_por_marca, 'Categoria': categorias})

# Juntar os DataFrames pela coluna 'Marca'
df_classificado = pd.merge(df, df_media_categorias, left_on='Marca', right_index=True)

print(df_classificado)

In [2]:
import pandas as pd

In [3]:
# Exemplo de dados
data = {'Marca': ['MarcaA', 'MarcaA', 'MarcaB', 'MarcaB', 'MarcaC', 'MarcaC'],
        'Preço': [500, 600, 800, 750, 900, 950]}

df = pd.DataFrame(data)

In [4]:
# Calcular a média de preço para cada marca
media_por_marca = df.groupby('Marca')['Preço'].mean()

In [5]:
# Usar qcut para categorizar em intervalos
categorias = pd.qcut(media_por_marca, q=[0, 0.33, 0.66, 1], labels=['Barato', 'Médio', 'Caro'])

In [6]:
# Criar um DataFrame com as médias e categorias
df_media_categorias = pd.DataFrame({'Média de Preço': media_por_marca, 'Categoria': categorias})

In [7]:
# Juntar os DataFrames pela coluna 'Marca'
df_classificado = pd.merge(df, df_media_categorias, left_on='Marca', right_index=True)

In [8]:
df_classificado

    Marca  Preço  Média de Preço Categoria
0  MarcaA    500           550.0    Barato
1  MarcaA    600           550.0    Barato
2  MarcaB    800           775.0     Médio
3  MarcaB    750           775.0     Médio
4  MarcaC    900           925.0      Caro
5  MarcaC    950           925.0      Caro