### Carregando Informaçãoes

In [1]:
# importanto a biblioteca
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Carregando dados

fifa19 = pd.read_csv('fifa19.csv', sep=',', skiprows=None)
fifa19.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder

In [3]:
# Excel:
# x1 = pd.ExcelFile(file) # carrega o arquivo
# df = x1.parse('Sheet1') # carrega a tabel

# pd.read_csv('fifa19.csv', dtype={'Potential': 'int64', 'StandingTackle': 'float64'})

In [145]:
# Renomeando o coluna 'Unnamed 0' por 'ID'

fifa19.rename(columns={'Unnamed: 0': 'ID'}, inplace=True)

In [3]:
fifa19.rename(columns={'Club': 'Clube'}, inplace=True)

In [4]:
fifa19.head(10)

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,...,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,...,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward
8,8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,€380K,Right,...,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M,LALIGA SANTANDER,Tackler
9,9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,€68M,€94K,Right,...,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M,LALIGA SANTANDER,Goalkeeper

In [9]:
fifa19.tail(3)

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
18144,18204,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K,0,No Speciality
18145,18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K,EFL LEAGUE TWO,No Speciality
18146,18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K,EFL LEAGUE TWO,No Speciality

## 2. Informações do DataSet

In [11]:
fifa19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18147 entries, 0 to 18146
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                18147 non-null  int64
 1   Name                      18147 non-null  object
 2   Age                       18147 non-null  int64
 3   Nationality               18147 non-null  object
 4   Overall                   18147 non-null  int64
 5   Potential                 18147 non-null  int64
 6   Club                      18147 non-null  object
 7   Value                     18147 non-null  object
 8   Wage                      18147 non-null  object
 9   Preferred Foot            18147 non-null  object
 10  International Reputation  18147 non-null  float64
 11  Weak Foot                 18147 non-null  float64
 12  Skill Moves               18147 non-null  float64
 13  Work Rate                 18147 non-null  object
 14  Position                  18147 non-null  object
 15  Jersey Number             18147 non-null  float64
 16  Joined                    16654 non-null  object
 17  Loaned From               18147 non-null  object
 18  Contract Valid Until      18147 non-null  object
 19  Height                    18147 non-null  object
 20  Weight                    18147 non-null  object
 21  Crossing                  18147 non-null  float64
 22  Finishing                 18147 non-null  float64
 23  HeadingAccuracy           18147 non-null  float64
 24  ShortPassing              18147 non-null  float64
 25  Volleys                   18147 non-null  float64
 26  Dribbling                 18147 non-null  float64
 27  Curve                     18147 non-null  float64
 28  FKAccuracy                18147 non-null  float64
 29  LongPassing               18147 non-null  float64
 30  BallControl               18147 non-null  float64
 31  Acceleration              18147 non-null  float64
 32  SprintSpeed               18147 non-null  float64
 33  Agility                   18147 non-null  float64
 34  Reactions                 18147 non-null  float64
 35  Balance                   18147 non-null  float64
 36  ShotPower                 18147 non-null  float64
 37  Jumping                   18147 non-null  float64
 38  Stamina                   18147 non-null  float64
 39  Strength                  18147 non-null  float64
 40  LongShots                 18147 non-null  float64
 41  Aggression                18147 non-null  float64
 42  Interceptions             18147 non-null  float64
 43  Positioning               18147 non-null  float64
 44  Vision                    18147 non-null  float64
 45  Penalties                 18147 non-null  float64
 46  Composure                 18147 non-null  float64
 47  Marking                   18147 non-null  float64
 48  StandingTackle            18147 non-null  float64
 49  SlidingTackle             18147 non-null  float64
 50  GKDiving                  18147 non-null  float64
 51  GKHandling                18147 non-null  float64
 52  GKKicking                 18147 non-null  float64
 53  GKPositioning             18147 non-null  float64
 54  GKReflexes                18147 non-null  float64
 55  Release Clause            18147 non-null  object
 56  League                    18147 non-null  object
 57  Speciality                18147 non-null  object
dtypes: float64(38), int64(4), object(16)
memory usage: 8.0+ MB

In [12]:
# formato da tabela
fifa19.shape

(18147, 58)

In [13]:
# linha
fifa19.shape[0]

18147

In [14]:
# coluna
fifa19.shape[1]

58

In [15]:
print(f'Temos {fifa19.shape[0]} linhas e {fifa19.shape[1]} colunas')

Temos 18147 linhas e 58 colunas

In [16]:
fifa19.columns

Index(['Unnamed: 0', 'Name', 'Age', 'Nationality', 'Overall', 'Potential',
       'Club', 'Value', 'Wage', 'Preferred Foot', 'International Reputation',
       'Weak Foot', 'Skill Moves', 'Work Rate', 'Position', 'Jersey Number',
       'Joined', 'Loaned From', 'Contract Valid Until', 'Height', 'Weight',
       'Crossing', 'Finishing', 'HeadingAccuracy', 'ShortPassing', 'Volleys',
       'Dribbling', 'Curve', 'FKAccuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'SprintSpeed', 'Agility', 'Reactions', 'Balance',
       'ShotPower', 'Jumping', 'Stamina', 'Strength', 'LongShots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'StandingTackle', 'SlidingTackle', 'GKDiving',
       'GKHandling', 'GKKicking', 'GKPositioning', 'GKReflexes',
       'Release Clause', 'League', 'Speciality'],
      dtype='object')

In [17]:
fifa19.index

RangeIndex(start=0, stop=18147, step=1)

Se quiser estabelecer uma coluna como indice é só usar o set_index, por exemplo:
- df.set_index('nome_da_coluna') # para coluna
- df.set_index(['nome_da_coluna_1', 'nome_da_coluna_2', ..., 'nome_da_coluna_n'] # para varias colunas
- df.set_index((pd.index),[1, 2, 3, 4...], 'nome_do_indice') # para criar um indice do zero

In [40]:
# exibir mais de um output na tela
#display(fifa19.head())
#display(fifa19.tail())

In [12]:
# mudar o parametro do pandas

pd.set_option('max_colwidth',20) # largura máxima
pd.set_option('display.max_rows',100) # máximo de linhas 
pd.set_option('display.max_columns',58) # máximo de colunas

pd.get_option('max_colwidth')

20

In [13]:
print(fifa19.head(10))

   Unnamed: 0               Name  Age Nationality  Overall  Potential  \
0           0           L. Messi   31   Argentina       94         94
1           1  Cristiano Ronaldo   33    Portugal       94         94
2           2          Neymar Jr   26      Brazil       92         93
3           3             De Gea   27       Spain       91         93
4           4       K. De Bruyne   27     Belgium       91         92
5           5          E. Hazard   27     Belgium       91         91
6           6          L. Modrić   32     Croatia       91         91
7           7          L. Suárez   31     Uruguay       91         91
8           8       Sergio Ramos   32       Spain       91         91
9           9           J. Oblak   25    Slovenia       90         93

                 Clube    Value   Wage Preferred Foot  \
0         FC Barcelona  €110.5M  €565K           Left
1             Juventus     €77M  €405K          Right
2  Paris Saint-Germain  €118.5M  €290K          Right
3    Manchester United     €72M  €260K          Right
4      Manchester City    €102M  €355K          Right
5              Chelsea     €93M  €340K          Right
6          Real Madrid     €67M  €420K          Right
7         FC Barcelona     €80M  €455K          Right
8          Real Madrid     €51M  €380K          Right
9      Atlético Madrid     €68M   €94K          Right

   International Reputation  Weak Foot  Skill Moves       Work Rate Position  \
0                  5.0             4.0          4.0  Medium/ Medium       RF
1                  5.0             4.0          5.0       High/ Low       ST
2                  5.0             5.0          5.0    High/ Medium       LW
3                  4.0             3.0          1.0  Medium/ Medium       GK
4                  4.0             5.0          4.0      High/ High      RCM
5                  4.0             4.0          4.0    High/ Medium       LF
6                  4.0             4.0          4.0      High/ High      RCM
7                  5.0             4.0          3.0    High/ Medium       RS
8                  4.0             3.0          3.0    High/ Medium      RCB
9                  3.0             3.0          1.0  Medium/ Medium       GK

   Jersey Number        Joined  Loaned From Contract Valid Until Height  \
0           10.0   Jul 1, 2004  Not on loan                 2021    5'7
1            7.0  Jul 10, 2018  Not on loan                 2022    6'2
2           10.0   Aug 3, 2017  Not on loan                 2022    5'9
3            1.0   Jul 1, 2011  Not on loan                 2020    6'4
4            7.0  Aug 30, 2015  Not on loan                 2023   5'11
5           10.0   Jul 1, 2012  Not on loan                 2020    5'8
6           10.0   Aug 1, 2012  Not on loan                 2020    5'8
7            9.0  Jul 11, 2014  Not on loan                 2021    6'0
8           15.0   Aug 1, 2005  Not on loan                 2020    6'0
9            1.0  Jul 16, 2014  Not on loan                 2021    6'2

   Weight  Crossing  Finishing  HeadingAccuracy  ShortPassing  Volleys  \
0  159lbs      84.0       95.0             70.0          90.0     86.0
1  183lbs      84.0       94.0             89.0          81.0     87.0
2  150lbs      79.0       87.0             62.0          84.0     84.0
3  168lbs      17.0       13.0             21.0          50.0     13.0
4  154lbs      93.0       82.0             55.0          92.0     82.0
5  163lbs      81.0       84.0             61.0          89.0     80.0
6  146lbs      86.0       72.0             55.0          93.0     76.0
7  190lbs      77.0       93.0             77.0          82.0     88.0
8  181lbs      66.0       60.0             91.0          78.0     66.0
9  192lbs      13.0       11.0             15.0          29.0     13.0

   Dribbling  Curve  FKAccuracy  LongPassing  BallControl  Acceleration  \
0       97.0   93.0        94.0         87.0         96.0          91.0
1       88.0   81.0        76.0         77.0         94.0          89.0
2       96.0   88.0        87.0         78.0         95.0          94.0
3       18.0   21.0        19.0         51.0         42.0          57.0
4       86.0   85.0        83.0         91.0         91.0          78.0
5       95.0   83.0        79.0         83.0         94.0          94.0
6       90.0   85.0        78.0         88.0         93.0          80.0
7       87.0   86.0        84.0         64.0         90.0          86.0
8       63.0   74.0        72.0         77.0         84.0          76.0
9       12.0   13.0        14.0         26.0         16.0          43.0

   SprintSpeed  Agility  Reactions  Balance  ShotPower  Jumping  Stamina  \
0         86.0     91.0       95.0     95.0       85.0     68.0     72.0
1         91.0     87.0       96.0     70.0       95.0     95.0     88.0
2         90.0     96.0       94.0     84.0       80.0     61.0     81.0
3         58.0     60.0       90.0     43.0       31.0     67.0     43.0
4         76.0     79.0       91.0     77.0       91.0     63.0     90.0
5         88.0     95.0       90.0     94.0       82.0     56.0     83.0
6         72.0     93.0       90.0     94.0       79.0     68.0     89.0
7         75.0     82.0       92.0     83.0       86.0     69.0     90.0
8         75.0     78.0       85.0     66.0       79.0     93.0     84.0
9         60.0     67.0       86.0     49.0       22.0     76.0     41.0

   Strength  LongShots  Aggression  Interceptions  Positioning  Vision  \
0      59.0       94.0        48.0           22.0         94.0    94.0
1      79.0       93.0        63.0           29.0         95.0    82.0
2      49.0       82.0        56.0           36.0         89.0    87.0
3      64.0       12.0        38.0           30.0         12.0    68.0
4      75.0       91.0        76.0           61.0         87.0    94.0
5      66.0       80.0        54.0           41.0         87.0    89.0
6      58.0       82.0        62.0           83.0         79.0    92.0
7      83.0       85.0        87.0           41.0         92.0    84.0
8      83.0       59.0        88.0           90.0         60.0    63.0
9      78.0       12.0        34.0           19.0         11.0    70.0

   Penalties  Composure  Marking  StandingTackle  SlidingTackle  GKDiving  \
0       75.0       96.0     33.0            28.0           26.0       6.0
1       85.0       95.0     28.0            31.0           23.0       7.0
2       81.0       94.0     27.0            24.0           33.0       9.0
3       40.0       68.0     15.0            21.0           13.0      90.0
4       79.0       88.0     68.0            58.0           51.0      15.0
5       86.0       91.0     34.0            27.0           22.0      11.0
6       82.0       84.0     60.0            76.0           73.0      13.0
7       85.0       85.0     62.0            45.0           38.0      27.0
8       75.0       82.0     87.0            92.0           91.0      11.0
9       11.0       70.0     27.0            12.0           18.0      86.0

   GKHandling  GKKicking  GKPositioning  GKReflexes Release Clause  \
0        11.0       15.0           14.0         8.0        €226.5M
1        11.0       15.0           14.0        11.0        €127.1M
2         9.0       15.0           15.0        11.0        €228.1M
3        85.0       87.0           88.0        94.0        €138.6M
4        13.0        5.0           10.0        13.0        €196.4M
5        12.0        6.0            8.0         8.0        €172.1M
6         9.0        7.0           14.0         9.0        €137.4M
7        25.0       31.0           33.0        37.0          €164M
8         8.0        9.0            7.0        11.0        €104.6M
9        92.0       78.0           88.0        89.0        €144.5M

              League           Speciality
0   LALIGA SANTANDER     Complete Forward
1        SERIE A TIM     Distance Shooter
2  LIGUE 1 CONFORAMA     Complete Forward
3     PREMIER LEAGUE           Goalkeeper
4     PREMIER LEAGUE  Complete Midfielder
5     PREMIER LEAGUE  Complete Midfielder
6   LALIGA SANTANDER  Complete Midfielder
7   LALIGA SANTANDER     Complete Forward
8   LALIGA SANTANDER              Tackler
9   LALIGA SANTANDER           Goalkeeper

In [14]:
# sempres usar o .style para executar uma função

# A função está alterando a cor dos elementos menores que 92 na coluna "Overall"
def low_values_red(value):
    color = 'red' if value < 92 else 'white'
    return f'color: {color}'

# aplicar em todos os elementos --> .map
# df[['coluna_1', 'coluna_2']].head().style.map(funcao)

fifa19[['Overall', 'Potential']].head(10).style.map(low_values_red)

In [18]:
def high_values_green(value):
    color = 'green' if value > 92 else 'red'
    return f'color: {color}'

fifa19.head(10).style.map(high_values_green, subset=['Overall', 'Potential'])

In [33]:
# Aqui você tem o mesmo resultado, porem vc não está ocultando o resto da DataFrame
# Utilizar o subset=['coluna_1', 'coluna_2', ...] para escolher as colunas onde a função será aplicada
# df.head(10).style.map(funcao, subset=['coluna_1', 'coluna_2'])

fifa19.head(10).style.map(low_values_red, subset=['Overall', 'Potential'])

In [34]:
def background_yellow(value):
    return 'background-color: yellow'


fifa19.head(10).style.map(background_yellow, subset=['Age', 'Overall', 'Potential'])

In [35]:
# Aqui a função está verificando qual o maior valor do elemento na coluna e marcando ele de amarelo 
def highlight_max(s):
    is_max = s == s.max() # checa esse booleano s == s.max(), e depois guardar em is_max
    return ['background-color: yellow' if v else '' for v in is_max] 
    # O elementeo recebe o 'background-color: yellow' caso ele seja o maior valor

# Aplicar em todo o DataFrame
# Está aplicando apenas no maior elemento da coluna --> .apply
fifa19.head(10).style.apply(highlight_max, subset=['Age', 'Overall', 'Potential'])

In [21]:
def no_highlight(value):
    not_is_max = value == value.max()
    return ['background-color: purple' if v else 'background-color: yellow' for v in not_is_max]
 
fifa19.head(10).style.apply(no_highlight, subset=['Age', 'Overall', 'Potential'])

In [39]:
# Aqui ele está pegando somente as colunas 'Overall' e 'Potential' e execuntado as função anteriores.

fifa19.head(10).style.map(low_values_red, subset=['Overall', 'Potential']).apply(highlight_max, subset=['Overall', 'Potential'])

fifa19[['Overall', 'Potential']].head(10).style.\
map(low_values_red).\
apply(highlight_max)

### Filtros e seleções

### DICAS
Sempre é [linha, coluna] <br>
.loc inclue +1 no intervalo exemp: [incio:fim+1] <br>
Com .loc vc pode utilizar o nome da coluna escolhida <br>

In [41]:
# O loc inclui +1 no intervalo .iloc[incio:fim+1]

fifa19.loc[0:5]

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,...,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder

In [70]:
# Com .loc vc pode utilizar o nome da coluna escolhida


fifa19.loc[0:5, 'Age']

0    31
1    33
2    26
3    27
4    27
5    27
Name: Age, dtype: int64

In [72]:
# Dica | iloc -> utiliza os numeros da colunas

fifa19.iloc[0:5, 1:3]

        Name  Age
0   L. Messi   31
1  Cristi...   33
2  Neymar Jr   26
3     De Gea   27
4  K. De ...   27

In [30]:
# Aqui ele está filtrando apenas jogadores com a idade maior que 30 e que possuem um 'Overall' maior que 90

fifa19.loc[(fifa19['Age']>30) & (fifa19['Overall']>90)]

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,4.0,4.0,Medium/ Medium,RF,10.0,"Jul 1, 2004",Not on loan,2021,5'7,159lbs,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,4.0,5.0,High/ Low,ST,7.0,"Jul 10, 2018",Not on loan,2022,6'2,183lbs,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,4.0,4.0,4.0,High/ High,RCM,10.0,"Aug 1, 2012",Not on loan,2020,5'8,146lbs,86.0,72.0,55.0,93.0,76.0,90.0,85.0,78.0,88.0,93.0,80.0,72.0,93.0,90.0,94.0,79.0,68.0,89.0,58.0,82.0,62.0,83.0,79.0,92.0,82.0,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,5.0,4.0,3.0,High/ Medium,RS,9.0,"Jul 11, 2014",Not on loan,2021,6'0,190lbs,77.0,93.0,77.0,82.0,88.0,87.0,86.0,84.0,64.0,90.0,86.0,75.0,82.0,92.0,83.0,86.0,69.0,90.0,83.0,85.0,87.0,41.0,92.0,84.0,85.0,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward
8,8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,€380K,Right,4.0,3.0,3.0,High/ Medium,RCB,15.0,"Aug 1, 2005",Not on loan,2020,6'0,181lbs,66.0,60.0,91.0,78.0,66.0,63.0,74.0,72.0,77.0,84.0,76.0,75.0,78.0,85.0,66.0,79.0,93.0,84.0,83.0,59.0,88.0,90.0,60.0,63.0,75.0,82.0,87.0,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M,LALIGA SANTANDER,Tackler

In [33]:
fifa19.loc[(fifa19['Age']<30) & (fifa19['Potential']<90)].head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
20,20,Sergio Busquets,29,Spain,89,89,FC Barcelona,€51.5M,€315K,Right,4.0,3.0,3.0,Medium/ Medium,CDM,5.0,"Sep 1, 2008",Not on loan,2023,6'2,168lbs,62.0,67.0,68.0,89.0,44.0,80.0,66.0,68.0,82.0,88.0,50.0,52.0,66.0,87.0,52.0,61.0,66.0,86.0,77.0,54.0,85.0,87.0,77.0,87.0,60.0,90.0,90.0,86.0,80.0,5.0,8.0,13.0,9.0,13.0,€105.6M,LALIGA SANTANDER,Playmaker
26,26,M. Salah,26,Egypt,88,89,Liverpool,€69.5M,€255K,Left,3.0,3.0,4.0,High/ Medium,RM,10.0,"Jul 1, 2017",Not on loan,2023,5'9,157lbs,78.0,90.0,59.0,82.0,73.0,89.0,83.0,60.0,72.0,88.0,94.0,91.0,91.0,91.0,88.0,77.0,68.0,84.0,70.0,83.0,63.0,55.0,90.0,82.0,61.0,91.0,38.0,43.0,41.0,14.0,14.0,9.0,11.0,14.0,€137.3M,PREMIER LEAGUE,Complete Forward
28,28,J. Rodríguez,26,Colombia,88,89,FC Bayern München,€69.5M,€315K,Left,4.0,3.0,4.0,Medium/ Medium,LAM,10.0,NaN,Real Madrid,"Jun 30, 2019",5'11,172lbs,90.0,83.0,62.0,89.0,90.0,85.0,89.0,86.0,83.0,90.0,73.0,67.0,83.0,85.0,76.0,86.0,54.0,70.0,68.0,92.0,64.0,55.0,80.0,89.0,81.0,87.0,52.0,41.0,44.0,15.0,15.0,15.0,5.0,14.0,No Release Clause,BUNDESLIGA,Complete Midfielder
29,29,L. Insigne,27,Italy,88,88,Napoli,€62M,€165K,Right,3.0,3.0,4.0,High/ Medium,LW,10.0,"Jul 1, 2010",Not on loan,2022,5'4,130lbs,86.0,77.0,56.0,85.0,74.0,90.0,87.0,77.0,78.0,93.0,94.0,86.0,94.0,83.0,93.0,75.0,53.0,75.0,44.0,84.0,34.0,26.0,83.0,87.0,61.0,83.0,51.0,24.0,22.0,8.0,4.0,14.0,9.0,10.0,€105.4M,SERIE A TIM,Dribbler
32,32,Coutinho,26,Brazil,88,89,FC Barcelona,€69.5M,€340K,Right,3.0,4.0,5.0,High/ High,LW,7.0,"Jan 6, 2018",Not on loan,2023,5'8,150lbs,79.0,79.0,48.0,88.0,75.0,91.0,91.0,86.0,83.0,92.0,89.0,75.0,92.0,83.0,93.0,83.0,59.0,79.0,61.0,93.0,59.0,49.0,84.0,90.0,70.0,85.0,55.0,54.0,47.0,12.0,7.0,9.0,14.0,6.0,€147.7M,LALIGA SANTANDER,Complete Midfielder

In [29]:
# Filtra atraves de um expressão booleano
# Aquele ele está filtrando os jogadores que tem mais de 30 anos
# df.query('coluna_n > 30')

tiozoes_do_fifa = fifa19.query('Age > 30')
tiozoes_do_fifa.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,...,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward
8,8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,€380K,Right,...,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M,LALIGA SANTANDER,Tackler

In [34]:
novinhos = fifa19.query('Age < 30')
novinhos.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,5.0,5.0,High/ Medium,LW,10.0,"Aug 3, 2017",Not on loan,2022,5'9,150lbs,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,3.0,1.0,Medium/ Medium,GK,1.0,"Jul 1, 2011",Not on loan,2020,6'4,168lbs,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,5.0,4.0,High/ High,RCM,7.0,"Aug 30, 2015",Not on loan,2023,5'11,154lbs,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,4.0,4.0,4.0,High/ Medium,LF,10.0,"Jul 1, 2012",Not on loan,2020,5'8,163lbs,81.0,84.0,61.0,89.0,80.0,95.0,83.0,79.0,83.0,94.0,94.0,88.0,95.0,90.0,94.0,82.0,56.0,83.0,66.0,80.0,54.0,41.0,87.0,89.0,86.0,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
9,9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,€68M,€94K,Right,3.0,3.0,1.0,Medium/ Medium,GK,1.0,"Jul 16, 2014",Not on loan,2021,6'2,192lbs,13.0,11.0,15.0,29.0,13.0,12.0,13.0,14.0,26.0,16.0,43.0,60.0,67.0,86.0,49.0,22.0,76.0,41.0,78.0,12.0,34.0,19.0,11.0,70.0,11.0,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M,LALIGA SANTANDER,Goalkeeper

In [30]:
# Aquele ele está filtrando os jogadores que tem mais de 30 anos
# df[df['coluna_n']>30].head(5)

fifa19[fifa19['Age']>30].head(5)

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,...,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward
8,8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,€380K,Right,...,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M,LALIGA SANTANDER,Tackler

In [35]:
fifa19[fifa19['Overall']<90].head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
14,14,N. Kanté,27,France,89,90,Chelsea,€63M,€225K,Right,3.0,3.0,2.0,Medium/ High,LDM,13.0,"Jul 16, 2016",Not on loan,2023,5'6,159lbs,68.0,65.0,54.0,86.0,56.0,79.0,49.0,49.0,81.0,80.0,82.0,78.0,82.0,93.0,92.0,71.0,77.0,96.0,76.0,69.0,90.0,92.0,71.0,79.0,54.0,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0,€121.3M,PREMIER LEAGUE,Tactician
15,15,P. Dybala,24,Argentina,89,94,Juventus,€89M,€205K,Left,3.0,3.0,4.0,High/ Medium,LF,21.0,"Jul 1, 2015",Not on loan,2022,5'10,165lbs,82.0,84.0,68.0,87.0,88.0,92.0,88.0,88.0,75.0,92.0,87.0,83.0,91.0,86.0,85.0,82.0,75.0,80.0,65.0,88.0,48.0,32.0,84.0,87.0,86.0,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0,€153.5M,SERIE A TIM,Complete Midfielder
16,16,H. Kane,24,England,89,91,Tottenham Hotspur,€83.5M,€205K,Right,3.0,4.0,3.0,High/ High,ST,9.0,"Jul 1, 2010",Not on loan,2024,6'2,196lbs,75.0,94.0,85.0,80.0,84.0,80.0,78.0,68.0,82.0,84.0,68.0,72.0,71.0,91.0,71.0,88.0,78.0,89.0,84.0,85.0,76.0,35.0,93.0,80.0,90.0,89.0,56.0,36.0,38.0,8.0,10.0,11.0,14.0,11.0,€160.7M,PREMIER LEAGUE,Clinical Finisher
17,17,A. Griezmann,27,France,89,90,Atlético Madrid,€78M,€145K,Left,4.0,3.0,4.0,High/ High,CAM,7.0,"Jul 28, 2014",Not on loan,2023,5'9,161lbs,82.0,90.0,84.0,83.0,87.0,88.0,84.0,78.0,76.0,90.0,88.0,85.0,90.0,90.0,80.0,80.0,90.0,83.0,62.0,82.0,69.0,35.0,91.0,83.0,79.0,87.0,59.0,47.0,48.0,14.0,8.0,14.0,13.0,14.0,€165.8M,LALIGA SANTANDER,Complete Forward
18,18,M. ter Stegen,26,Germany,89,92,FC Barcelona,€58M,€240K,Right,3.0,4.0,1.0,Medium/ Medium,GK,22.0,"Jul 1, 2014",Not on loan,2022,6'2,187lbs,15.0,14.0,11.0,36.0,14.0,17.0,18.0,12.0,42.0,18.0,38.0,50.0,37.0,85.0,43.0,22.0,79.0,35.0,79.0,10.0,43.0,22.0,11.0,69.0,25.0,69.0,25.0,13.0,10.0,87.0,85.0,88.0,85.0,90.0,€123.3M,LALIGA SANTANDER,Goalkeeper

In [28]:
# Aqui ele está filtrando jogadores que possuem o mesmo numero nas colunas 'GKDiving' e 'GKHandling'
# df[df['coçuna_1]==df['coluna_2']].head()

fifa19[fifa19['GKDiving']==fifa19['GKHandling']].head(5)

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
24,24,G. Chiellini,33,Italy,89,89,Juventus,€27M,€215K,Left,...,93.0,90.0,3.0,3.0,2.0,4.0,3.0,€44.6M,SERIE A TIM,Complete Defender
26,26,M. Salah,26,Egypt,88,89,Liverpool,€69.5M,€255K,Left,...,43.0,41.0,14.0,14.0,9.0,11.0,14.0,€137.3M,PREMIER LEAGUE,Complete Forward
28,28,J. Rodríguez,26,Colombia,88,89,FC Bayern München,€69.5M,€315K,Left,...,41.0,44.0,15.0,15.0,15.0,5.0,14.0,No Release Clause,BUNDESLIGA,Complete Midfielder
36,36,G. Bale,28,Wales,88,88,Real Madrid,€60M,€355K,Left,...,55.0,52.0,15.0,15.0,11.0,5.0,6.0,€123M,LALIGA SANTANDER,Distance Shooter

In [36]:
fifa19[fifa19['Overall']==fifa19['Potential']].head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,4.0,4.0,Medium/ Medium,RF,10.0,"Jul 1, 2004",Not on loan,2021,5'7,159lbs,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,4.0,5.0,High/ Low,ST,7.0,"Jul 10, 2018",Not on loan,2022,6'2,183lbs,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,4.0,4.0,4.0,High/ Medium,LF,10.0,"Jul 1, 2012",Not on loan,2020,5'8,163lbs,81.0,84.0,61.0,89.0,80.0,95.0,83.0,79.0,83.0,94.0,94.0,88.0,95.0,90.0,94.0,82.0,56.0,83.0,66.0,80.0,54.0,41.0,87.0,89.0,86.0,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,4.0,4.0,4.0,High/ High,RCM,10.0,"Aug 1, 2012",Not on loan,2020,5'8,146lbs,86.0,72.0,55.0,93.0,76.0,90.0,85.0,78.0,88.0,93.0,80.0,72.0,93.0,90.0,94.0,79.0,68.0,89.0,58.0,82.0,62.0,83.0,79.0,92.0,82.0,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,5.0,4.0,3.0,High/ Medium,RS,9.0,"Jul 11, 2014",Not on loan,2021,6'0,190lbs,77.0,93.0,77.0,82.0,88.0,87.0,86.0,84.0,64.0,90.0,86.0,75.0,82.0,92.0,83.0,86.0,69.0,90.0,83.0,85.0,87.0,41.0,92.0,84.0,85.0,85.0,62.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward

In [31]:
# Aqui ele está filtrando apenas as colunas escolhidas
# df.filter('coluna_1', 'coluna2', ...)

fifa19.filter(['Age', 'Name', 'Club'])

       Age                Name                 Club
0       31            L. Messi         FC Barcelona
1       33   Cristiano Ronaldo             Juventus
2       26           Neymar Jr  Paris Saint-Germain
3       27              De Gea    Manchester United
4       27        K. De Bruyne      Manchester City
...    ...                 ...                  ...
18142   19        J. Lundstram      Crewe Alexandra
18143   19  N. Christoffersson       Trelleborgs FF
18144   16           B. Worman     Cambridge United
18145   17      D. Walker-Rice      Tranmere Rovers
18146   16           G. Nugent      Tranmere Rovers

[18147 rows x 3 columns]

In [37]:
fifa19.filter(['ID', 'Name', 'Clube'])

                     Name                Clube
0                L. Messi         FC Barcelona
1       Cristiano Ronaldo             Juventus
2               Neymar Jr  Paris Saint-Germain
3                  De Gea    Manchester United
4            K. De Bruyne      Manchester City
...                   ...                  ...
18142        J. Lundstram      Crewe Alexandra
18143  N. Christoffersson       Trelleborgs FF
18144           B. Worman     Cambridge United
18145      D. Walker-Rice      Tranmere Rovers
18146           G. Nugent      Tranmere Rovers

[18147 rows x 2 columns]

In [38]:
overall_median = fifa19['Overall'].median() # Calculando a mediana dos elementos da coluna 'Overall' --> tabela = df.['coluna'].median()
print(overall_median)
print()
fifa19.query("Overall < @overall_median").head() # Filtrando jogadores abaixo da media

66.0

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
9923,9927,A. De Bruyn,24,Belgium,65,69,Sint-Truidense VV,€700K,€3K,Right,1.0,3.0,3.0,High/ Low,LM,14.0,"Jul 1, 2018",Not on loan,2020,5'10,152lbs,56.0,67.0,52.0,65.0,59.0,71.0,63.0,64.0,58.0,66.0,75.0,72.0,73.0,55.0,72.0,70.0,71.0,58.0,57.0,68.0,42.0,27.0,62.0,58.0,63.0,61.0,30.0,28.0,29.0,14.0,5.0,13.0,10.0,11.0,€1.1M,0,No Speciality
9924,9928,J. Akinde,28,England,65,65,Lincoln City,€550K,€6K,Right,1.0,2.0,2.0,Medium/ Low,ST,29.0,"Jul 6, 2018",Not on loan,2021,6'2,192lbs,46.0,63.0,61.0,48.0,56.0,56.0,51.0,34.0,46.0,56.0,74.0,77.0,62.0,65.0,61.0,64.0,71.0,76.0,92.0,52.0,70.0,29.0,66.0,56.0,70.0,58.0,37.0,33.0,31.0,12.0,15.0,6.0,14.0,16.0,€963K,EFL LEAGUE TWO,Strength
9925,9929,D. McGregor,32,Scotland,65,65,Hibernian,€300K,€2K,Right,1.0,3.0,2.0,High/ Medium,CB,24.0,"Aug 25, 2015",Not on loan,2019,6'0,192lbs,32.0,39.0,64.0,62.0,27.0,54.0,32.0,29.0,53.0,59.0,69.0,69.0,30.0,57.0,51.0,43.0,65.0,67.0,87.0,27.0,58.0,58.0,45.0,47.0,43.0,63.0,59.0,66.0,63.0,11.0,12.0,10.0,16.0,10.0,€525K,SCOTTISH PREMIER...,Strength
9926,9930,G. Villarruel,25,Argentina,65,68,San Martín de Sa...,€675K,€3K,Right,1.0,3.0,3.0,Medium/ Low,RM,27.0,NaN,Club Atlético Colón,"Jun 30, 2019",5'8,148lbs,61.0,59.0,44.0,63.0,54.0,68.0,59.0,48.0,58.0,66.0,76.0,75.0,79.0,60.0,81.0,64.0,57.0,61.0,45.0,60.0,46.0,25.0,63.0,52.0,59.0,61.0,33.0,40.0,43.0,15.0,14.0,15.0,6.0,7.0,No Release Clause,0,No Speciality
9927,9931,Pastrana,21,Spain,65,75,RC Celta,€875K,€4K,Left,1.0,3.0,2.0,Medium/ Medium,LM,34.0,"Jul 1, 2017",Not on loan,2019,5'11,154lbs,64.0,55.0,55.0,68.0,38.0,69.0,52.0,51.0,66.0,72.0,75.0,70.0,73.0,58.0,62.0,49.0,56.0,46.0,48.0,56.0,42.0,29.0,57.0,55.0,56.0,46.0,35.0,24.0,23.0,10.0,15.0,7.0,8.0,11.0,€2M,LALIGA SANTANDER,No Speciality

No código fornecido, o @ antes de overall_mean é usado no contexto da função query do Pandas. Quando você usa @ antes de uma variável dentro de uma string de consulta, isso indica que você está referenciando uma variável do ambiente externo, não uma string literal. Isso é especialmente útil quando você está usando a função query para filtrar dados com base em variáveis Python.

In [49]:
overall_mean = fifa19['Overall'].mean()
print(overall_mean)
print()
fifa19.query('Overall > @overall_mean').shape

66.25392626880476

(8761, 58)

In [69]:
# Filtrando elementos especificos de uma coluna
# Aqui ele está pegando somente jogadores das nacionalidades ['Argentina', 'Brazil', 'France', 'Italy', 'England', ]
# df_n = df[df['COLUNA'].isin(['element_x', 'element_y'])]

df_champs = fifa19[fifa19['Nationality'].isin(['Argentina', 'Brazil', 'France', 'Italy', 'England', ])]

df_champs.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,4.0,4.0,Medium/ Medium,RF,10.0,"Jul 1, 2004",Not on loan,2021,5'7,159lbs,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,5.0,5.0,High/ Medium,LW,10.0,"Aug 3, 2017",Not on loan,2022,5'9,150lbs,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
14,14,N. Kanté,27,France,89,90,Chelsea,€63M,€225K,Right,3.0,3.0,2.0,Medium/ High,LDM,13.0,"Jul 16, 2016",Not on loan,2023,5'6,159lbs,68.0,65.0,54.0,86.0,56.0,79.0,49.0,49.0,81.0,80.0,82.0,78.0,82.0,93.0,92.0,71.0,77.0,96.0,76.0,69.0,90.0,92.0,71.0,79.0,54.0,85.0,90.0,91.0,85.0,15.0,12.0,10.0,7.0,10.0,€121.3M,PREMIER LEAGUE,Tactician
15,15,P. Dybala,24,Argentina,89,94,Juventus,€89M,€205K,Left,3.0,3.0,4.0,High/ Medium,LF,21.0,"Jul 1, 2015",Not on loan,2022,5'10,165lbs,82.0,84.0,68.0,87.0,88.0,92.0,88.0,88.0,75.0,92.0,87.0,83.0,91.0,86.0,85.0,82.0,75.0,80.0,65.0,88.0,48.0,32.0,84.0,87.0,86.0,84.0,23.0,20.0,20.0,5.0,4.0,4.0,5.0,8.0,€153.5M,SERIE A TIM,Complete Midfielder
16,16,H. Kane,24,England,89,91,Tottenham Hotspur,€83.5M,€205K,Right,3.0,4.0,3.0,High/ High,ST,9.0,"Jul 1, 2010",Not on loan,2024,6'2,196lbs,75.0,94.0,85.0,80.0,84.0,80.0,78.0,68.0,82.0,84.0,68.0,72.0,71.0,91.0,71.0,88.0,78.0,89.0,84.0,85.0,76.0,35.0,93.0,80.0,90.0,89.0,56.0,36.0,38.0,8.0,10.0,11.0,14.0,11.0,€160.7M,PREMIER LEAGUE,Clinical Finisher

In [62]:
champs_league_winners = fifa19[fifa19['Clube'].isin(['FC Barcelona', 'Juventus',  'Manchester United', 'Chelsea', 'Real Madrid',])]
champs_league_winners.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,5.0,4.0,4.0,Medium/ Medium,RF,10.0,"Jul 1, 2004",Not on loan,2021,5'7,159lbs,84.0,95.0,70.0,90.0,86.0,97.0,93.0,94.0,87.0,96.0,91.0,86.0,91.0,95.0,95.0,85.0,68.0,72.0,59.0,94.0,48.0,22.0,94.0,94.0,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,5.0,4.0,5.0,High/ Low,ST,7.0,"Jul 10, 2018",Not on loan,2022,6'2,183lbs,84.0,94.0,89.0,81.0,87.0,88.0,81.0,76.0,77.0,94.0,89.0,91.0,87.0,96.0,70.0,95.0,95.0,88.0,79.0,93.0,63.0,29.0,95.0,82.0,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,4.0,3.0,1.0,Medium/ Medium,GK,1.0,"Jul 1, 2011",Not on loan,2020,6'4,168lbs,17.0,13.0,21.0,50.0,13.0,18.0,21.0,19.0,51.0,42.0,57.0,58.0,60.0,90.0,43.0,31.0,67.0,43.0,64.0,12.0,38.0,30.0,12.0,68.0,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,4.0,4.0,4.0,High/ Medium,LF,10.0,"Jul 1, 2012",Not on loan,2020,5'8,163lbs,81.0,84.0,61.0,89.0,80.0,95.0,83.0,79.0,83.0,94.0,94.0,88.0,95.0,90.0,94.0,82.0,56.0,83.0,66.0,80.0,54.0,41.0,87.0,89.0,86.0,91.0,34.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,4.0,4.0,4.0,High/ High,RCM,10.0,"Aug 1, 2012",Not on loan,2020,5'8,146lbs,86.0,72.0,55.0,93.0,76.0,90.0,85.0,78.0,88.0,93.0,80.0,72.0,93.0,90.0,94.0,79.0,68.0,89.0,58.0,82.0,62.0,83.0,79.0,92.0,82.0,84.0,60.0,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder

In [38]:
# Aqui está filtrando jogadores que não estão na ['Argentina', 'Brazil', 'France', 'Italy', 'England', ]
# df_n = df[~df['COLUNA'].isin(['element_x', 'element_y'])]

df_non_champs = fifa19[~fifa19['Nationality'].isin(['Argentina', 'Brazil', 'France', 'Italy', 'England', ])]
df_non_champs.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,...,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder

In [61]:
champs_league_no_winners = fifa19[~fifa19['Clube'].isin(['FC Barcelona', 'Juventus',  'Manchester United', 'Chelsea', 'Real Madrid',])]
champs_league_no_winners.head()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Clube,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,5.0,5.0,5.0,High/ Medium,LW,10.0,"Aug 3, 2017",Not on loan,2022,5'9,150lbs,79.0,87.0,62.0,84.0,84.0,96.0,88.0,87.0,78.0,95.0,94.0,90.0,96.0,94.0,84.0,80.0,61.0,81.0,49.0,82.0,56.0,36.0,89.0,87.0,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,4.0,5.0,4.0,High/ High,RCM,7.0,"Aug 30, 2015",Not on loan,2023,5'11,154lbs,93.0,82.0,55.0,92.0,82.0,86.0,85.0,83.0,91.0,91.0,78.0,76.0,79.0,91.0,77.0,91.0,63.0,90.0,75.0,91.0,76.0,61.0,87.0,94.0,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
9,9,J. Oblak,25,Slovenia,90,93,Atlético Madrid,€68M,€94K,Right,3.0,3.0,1.0,Medium/ Medium,GK,1.0,"Jul 16, 2014",Not on loan,2021,6'2,192lbs,13.0,11.0,15.0,29.0,13.0,12.0,13.0,14.0,26.0,16.0,43.0,60.0,67.0,86.0,49.0,22.0,76.0,41.0,78.0,12.0,34.0,19.0,11.0,70.0,11.0,70.0,27.0,12.0,18.0,86.0,92.0,78.0,88.0,89.0,€144.5M,LALIGA SANTANDER,Goalkeeper
10,10,R. Lewandowski,29,Poland,90,90,FC Bayern München,€77M,€205K,Right,4.0,4.0,4.0,High/ Medium,ST,9.0,"Jul 1, 2014",Not on loan,2021,6'0,176lbs,62.0,91.0,85.0,83.0,89.0,85.0,77.0,86.0,65.0,89.0,77.0,78.0,78.0,90.0,78.0,88.0,84.0,78.0,84.0,84.0,80.0,39.0,91.0,77.0,88.0,86.0,34.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0,€127.1M,BUNDESLIGA,Clinical Finisher
12,12,D. Godín,32,Uruguay,90,90,Atlético Madrid,€44M,€125K,Right,3.0,3.0,2.0,Medium/ High,CB,10.0,"Aug 4, 2010",Not on loan,2019,6'2,172lbs,55.0,42.0,92.0,79.0,47.0,53.0,49.0,51.0,70.0,76.0,68.0,68.0,58.0,85.0,54.0,67.0,91.0,66.0,88.0,43.0,89.0,88.0,48.0,52.0,50.0,82.0,90.0,89.0,89.0,6.0,8.0,15.0,5.0,15.0,€90.2M,LALIGA SANTANDER,Complete Defender

In [40]:
# Aqui está pegando somentes as colunas que possuem numeros como elementos
# numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
# df_numerics = df.select_dtypes(include=numerics)

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_numerics = fifa19.select_dtypes(include=numerics)
fifa19_numerics.head()

,Unnamed: 0,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,31,94,94,5.0,4.0,4.0,10.0,84.0,95.0,...,75.0,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0
1,1,33,94,94,5.0,4.0,5.0,7.0,84.0,94.0,...,85.0,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
2,2,26,92,93,5.0,5.0,5.0,10.0,79.0,87.0,...,81.0,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
3,3,27,91,93,4.0,3.0,1.0,1.0,17.0,13.0,...,40.0,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0
4,4,27,91,92,4.0,5.0,4.0,7.0,93.0,82.0,...,79.0,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0

In [41]:
# Aqui está pegando somentes as colunas que não possuem numeros como elementos
# numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
# df_numerics = df.select_dtypes(exclude=numerics)

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
fifa19_non_numerics = fifa19.select_dtypes(exclude=numerics)
fifa19_non_numerics.head()

,Name,Nationality,Club,Value,Wage,Preferred Foot,Work Rate,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,League,Speciality
0,L. Messi,Argentina,FC Barcelona,€110.5M,€565K,Left,Medium/ Medium,RF,"Jul 1, 2004",Not on loan,2021,5'7,159lbs,€226.5M,LALIGA SANTANDER,Complete Forward
1,Cristiano Ronaldo,Portugal,Juventus,€77M,€405K,Right,High/ Low,ST,"Jul 10, 2018",Not on loan,2022,6'2,183lbs,€127.1M,SERIE A TIM,Distance Shooter
2,Neymar Jr,Brazil,Paris Saint-Germain,€118.5M,€290K,Right,High/ Medium,LW,"Aug 3, 2017",Not on loan,2022,5'9,150lbs,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,De Gea,Spain,Manchester United,€72M,€260K,Right,Medium/ Medium,GK,"Jul 1, 2011",Not on loan,2020,6'4,168lbs,€138.6M,PREMIER LEAGUE,Goalkeeper
4,K. De Bruyne,Belgium,Manchester City,€102M,€355K,Right,High/ High,RCM,"Aug 30, 2015",Not on loan,2023,5'11,154lbs,€196.4M,PREMIER LEAGUE,Complete Midfielder

In [43]:
# Ordenando os elementos da coluna 'Overall' em ordem descrente
# df.sort_values(by='COLUNA', ascending=False).head()

fifa19.sort_values(by='Overall', ascending=False).head(10)

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
5,5,E. Hazard,27,Belgium,91,91,Chelsea,€93M,€340K,Right,...,27.0,22.0,11.0,12.0,6.0,8.0,8.0,€172.1M,PREMIER LEAGUE,Complete Midfielder
6,6,L. Modrić,32,Croatia,91,91,Real Madrid,€67M,€420K,Right,...,76.0,73.0,13.0,9.0,7.0,14.0,9.0,€137.4M,LALIGA SANTANDER,Complete Midfielder
7,7,L. Suárez,31,Uruguay,91,91,FC Barcelona,€80M,€455K,Right,...,45.0,38.0,27.0,25.0,31.0,33.0,37.0,€164M,LALIGA SANTANDER,Complete Forward
8,8,Sergio Ramos,32,Spain,91,91,Real Madrid,€51M,€380K,Right,...,92.0,91.0,11.0,8.0,9.0,7.0,11.0,€104.6M,LALIGA SANTANDER,Tackler
12,12,D. Godín,32,Uruguay,90,90,Atlético Madrid,€44M,€125K,Right,...,89.0,89.0,6.0,8.0,15.0,5.0,15.0,€90.2M,LALIGA SANTANDER,Complete Defender

In [43]:
# Remover linhas duplicadas 
# df.drop_duplicates()

fifa19.drop_duplicates()

,Unnamed: 0,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,League,Speciality
0,0,L. Messi,31,Argentina,94,94,FC Barcelona,€110.5M,€565K,Left,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,LALIGA SANTANDER,Complete Forward
1,1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,€77M,€405K,Right,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,SERIE A TIM,Distance Shooter
2,2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,€118.5M,€290K,Right,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,LIGUE 1 CONFORAMA,Complete Forward
3,3,De Gea,27,Spain,91,93,Manchester United,€72M,€260K,Right,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,PREMIER LEAGUE,Goalkeeper
4,4,K. De Bruyne,27,Belgium,91,92,Manchester City,€102M,€355K,Right,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,PREMIER LEAGUE,Complete Midfielder
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18142,18202,J. Lundstram,19,England,47,65,Crewe Alexandra,€60K,€1K,Right,...,48.0,47.0,10.0,13.0,7.0,8.0,9.0,€143K,EFL LEAGUE TWO,No Speciality
18143,18203,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,€60K,€1K,Right,...,15.0,19.0,10.0,9.0,9.0,5.0,12.0,€113K,ALLSVENSKAN,No Speciality
18144,18204,B. Worman,16,England,47,67,Cambridge United,€60K,€1K,Right,...,13.0,11.0,6.0,5.0,10.0,6.0,13.0,€165K,0,No Speciality
18145,18205,D. Walker-Rice,17,England,47,66,Tranmere Rovers,€60K,€1K,Right,...,25.0,27.0,14.0,6.0,14.0,8.0,9.0,€143K,EFL LEAGUE TWO,No Speciality
18146,18206,G. Nugent,16,England,46,66,Tranmere Rovers,€60K,€1K,Right,...,43.0,50.0,10.0,15.0,9.0,12.0,9.0,€165K,EFL LEAGUE TWO,No Speciality

### 4. Estatisitca Descritiva

In [44]:
# Tras as estatísticas descritivas

fifa19.describe()

,Unnamed: 0,Age,Overall,Potential,International Reputation,Weak Foot,Skill Moves,Jersey Number,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,...,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000,18147.000000
mean,9089.239599,25.121122,66.253926,71.324076,1.113297,2.947154,2.361492,19.546096,49.738414,45.550229,...,48.546371,58.651127,47.286053,47.701879,45.666336,16.616906,16.393839,16.233041,16.389651,16.712019
std,5257.923360,4.669796,6.913320,6.132286,0.394150,0.660498,0.756274,15.947765,18.364255,19.527445,...,15.703113,11.437138,19.900450,21.663630,21.287961,17.698612,16.909971,16.504103,17.037031,17.957521
min,0.000000,16.000000,46.000000,48.000000,1.000000,1.000000,1.000000,1.000000,5.000000,2.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4536.500000,21.000000,62.000000,67.000000,1.000000,3.000000,2.000000,8.000000,38.000000,30.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9076.000000,25.000000,66.000000,71.000000,1.000000,3.000000,2.000000,17.000000,54.000000,49.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13662.500000,28.000000,71.000000,75.000000,1.000000,3.000000,3.000000,26.000000,64.000000,62.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,45.000000,94.000000,95.000000,5.000000,5.000000,5.000000,99.000000,93.000000,95.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [67]:
# Tras as estatísticas descritivas da colunas 'Age' das porcentagens [0.1, 0.2, 0.8, 0.99]
# df['COLUNA'].describe(percentiles=[0.1, 0.2, 0.8, 0.99])

fifa19['Age'].describe(percentiles=[0.1, 0.2, 0.8, 0.99])

count    18147.000000
mean        25.121122
std          4.669796
min         16.000000
10%         19.000000
20%         21.000000
50%         25.000000
80%         29.000000
99%         36.000000
max         45.000000
Name: Age, dtype: float64

In [64]:
'''
Tras as informações pedidas das colunas 'Age' e 'Overall'

df.agg({
    'COLUNA': ['min', 'max', 'skew', 'median']
})
'''


fifa19.agg({'Age':['min', 'max', 'skew', 'median'],
            'Overall': ['mean', 'min']   
           })

"\nTras as informações pedidas das colunas 'Age' e 'Overall'\n\ndf.agg({\n    'COLUNA': ['min', 'max', 'skew', 'median']\n})\n"

              Age    Overall
min     16.000000  46.000000
max     45.000000        NaN
skew     0.391228        NaN
median  25.000000        NaN
mean          NaN  66.253926

In [51]:
# Agrupando as medias das colunas 'Age' e 'Overall' com base na nacionalidade
# df.groupby('COLUNA_PRINCIPAL')[['coluna_1', 'coluna_2']].mean().sort_values(by='coluna_n', ascending=False)

df_champs.groupby('Nationality')[['Age', 'Overall']].mean().sort_values(by=['Age', 'Overall'], ascending=False)

                   Age    Overall
Nationality
Brazil       27.643636  71.273939
Argentina    26.209402  68.579060
Italy        25.941345  68.184549
France       24.620198  67.817783
England      24.022933  63.433917

In [76]:
df_champs.groupby('Nationality')[['Potential', 'Weak Foot']].mean().sort_values(by=['Weak Foot', 'Potential'], ascending=False)

             Potential  Weak Foot
Nationality
Brazil       73.352727   2.945455
France       73.462130   2.915477
England      70.049487   2.894387
Argentina    73.213675   2.870726
Italy        72.712446   2.846924

In [79]:
import numpy as np
pivot_table_result = pd.pivot_table(df_champs, index='Age', aggfunc=np.mean)

C:\Users\diego\AppData\Local\Temp\ipykernel_11484\3560056662.py:2: FutureWarning: The provided callable <function mean at 0x000002B5409987C0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  pivot_table_result = pd.pivot_table(df_champs, index='Age', aggfunc=np.mean)

TypeError: agg function failed [how->mean,dtype->object]

In [64]:
# Saber as medias por Nacionalidade das colunas ['Age','Overall']

col = ['Age','Overall']
pd.pivot_table(df_champs, index=['Nationality'], values= col, aggfunc='mean').sort_values(by=col, ascending=False)

                   Age    Overall
Nationality
Brazil       27.643636  71.273939
Argentina    26.209402  68.579060
Italy        25.941345  68.184549
France       24.620198  67.817783
England      24.022933  63.433917

In [86]:
pd.pivot_table(df_champs, index=['Nationality'], values='Potential', aggfunc='mean').sort_values(by='Potential', ascending=False)

             Potential
Nationality
France       73.462130
Brazil       73.352727
Argentina    73.213675
Italy        72.712446
England      70.049487

In [63]:
# Saber as medias por Nacionalidade das colunas ['Age','Overall','Strength'] por Club 

pd.pivot_table(df_champs, index=['Nationality'], columns=['Club'], values=['Age','Overall','Strength'], aggfunc='mean')

                   Age                                                 \
Club        1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FSV Mainz 05
Nationality
Argentina          NaN             NaN            NaN             NaN
Brazil             NaN             NaN           25.5             NaN
England            NaN             NaN            NaN             NaN
France            22.0            28.0            NaN       23.333333
Italy              NaN             NaN            NaN       28.000000

                                                                              \
Club        AC Ajaccio AC Horsens AD Alcorcón AEK Athens AFC Wimbledon   AIK
Nationality
Argentina          NaN        NaN        26.0       21.5           NaN  24.0
Brazil             NaN        NaN         NaN       27.0           NaN   NaN
England            NaN        NaN         NaN        NaN     23.826087   NaN
France            27.5        NaN         NaN        NaN           NaN   NaN
Italy              NaN       23.0         NaN        NaN           NaN   NaN

             ...       Strength                                            \
Club         ... Wolfsberger AC Wolverhampton Wanderers Wycombe Wanderers
Nationality  ...
Argentina    ...            NaN                     NaN               NaN
Brazil       ...            NaN               74.000000               NaN
England      ...           66.0               68.833333            68.125
France       ...            NaN               93.000000               NaN
Italy        ...            NaN                     NaN               NaN

                                                              \
Club        Yeni Malatyaspor Yeovil Town Yokohama F. Marinos
Nationality
Argentina                NaN         NaN                 NaN
Brazil                  55.0   45.000000                69.0
England                  NaN   64.588235                 NaN
France                  78.0   82.000000                 NaN
Italy                    NaN   54.000000                 NaN


Club        Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Nationality
Argentina                  NaN             NaN       NaN           NaN
Brazil                    48.0            64.0      85.0           NaN
England                   36.0             NaN       NaN          58.8
France                    84.0            53.0       NaN           NaN
Italy                      NaN            74.0       NaN           NaN

[5 rows x 1605 columns]

In [61]:
# Saber quantos jogadores por pais

df_champs.Nationality.value_counts()

Nationality
England      1657
Argentina     936
France        911
Brazil        825
Italy         699
Name: count, dtype: int64

In [66]:
# Saber quantos jogadores por pais, por porcentagem --> (normalize=True)

df_champs.Nationality.value_counts(normalize=True)

Nationality
England      0.329554
Argentina    0.186158
France       0.181185
Brazil       0.164081
Italy        0.139021
Name: proportion, dtype: float64

In [88]:
# Saber a porcentagem das posições por Nacionalidade

df_champs.groupby('Nationality')['Position'].value_counts()

Nationality  Position
Argentina    ST          125
             CB           99
             GK           97
             LM           64
             RM           62
                        ...
Italy        RDM           4
             RWB           2
             RF            1
             LWB           1
             LDM           1
Name: count, Length: 118, dtype: int64

### SQL no Pandas

In [87]:
# off-topic = como melhorar o desempenho
import modin.pandas as pd

ModuleNotFoundError: No module named 'modin'

In [51]:
import pandasql as ps

In [137]:
query = ''' 
select ID, age, Name from fifa19 where Age > 33
'''

In [150]:
ps.sqldf(query, locals())

        ID  Age       Name
0       41   40  G. Buffon
1       76   34    Iniesta
2      102   35      Naldo
3      108   35       Pepe
4      109   36  Z. Ibr...
..     ...  ...        ...
884  17704   36  F. Nic...
885  17726   44  T. Warner
886  17752   40  S. Phi...
887  17842   39  Zhou Ting
888  18183   44  K. Pil...

[889 rows x 3 columns]