In [1]:
#Truque para mostrar todos os outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# 4. Exercícios

Utilizando o mesmo dataset do material, faça o seguinte:

1) Importe os dados e verifique as primeiras linhas do dataset. Verifique também as últimas linhas do dataset.

2) Verifique se existe algum valor missing no dataset.

3) Quanto de memória o dataset está consumindo?

4) Gere as estatísticas descritivas das colunas numéricas do dataset. Qual a mediana da coluna BMI? E a média? Qual desses valores é maior? O que isso significa? Caso não saiba o que isso significa, passe os 2 valores ao chatGPT e pergunte a ele o que significa a média ser maior ou menor que a mediana.
5) Qual a proporção de fumantes no nosso dataset? E de não fumantes?

6) Existe alguma diferença na cobrança para fumantes e não fumantes? Se sim, ao que você imagina que isso se deve?
7) Qual a média de BMI para fumantes? Ela é muito diferente da observada para fumantes? Se sim, por qual motivo você acha que isso ocorre?
8) Existe alguma diferença de cobrança para quem tem filhos? Identifique se ter filhos parece acarretar numa cobrança maior olhando a média de charges para quem tem 0 filhos e a média para quem tem 1 ou mais filhos.
9) Para o homem, o BMI de 20 a 24,9 é considerado normal. Acima disso, é considerado acima do peso, abaixo é considerado abaixo do peso. Crie uma nova coluna, chamada "bmi_male" que receberá o texto "abaixo do normal" para BMI abaixo de 20, "normal" para BMI de 20 a 24,9 e "acima do normal" para BMI acima de 24,9.

10) Se uma homem é fumante e ainda tem um BMI acima do considerado normal, é possível que isso seja um indicador negativo para a seguradora. Quantos homens estão
 - nessa situação?
Utilizando o dataset de incêndios florestais no Brasil, que você pode baixar clicand o 12ui, responda:

11) Carregue o dataset e crie uma mensagem ao leitor do notebook falando quantas linhas e colunas p13sui o DataFrame.
12) Utilize loc e iloc para exibir da linha 100 até a linha 120 da segunda, terceira e quarta coluna. Qual a diferença das du14 sintaxes feitas?
13) Qual o total de incêndios que ocorreram no Brasil no ano de 2010? E se considerarmos somente o estado do15ato Grosso do Sul?
14) Qual a média de incêndios por mês no estado do Acre16E o desvio padrão?

15) Qual estado possui a maior média de incêndios por mês? 17qual possui a menor?

16) Crie uma coluna chamada regiao_sudeste e marque com 1 para quando a observação pertencer a um destes estados e 0, caso contrário. Faça o mesmo para a região centro-oeste. Qual a diferença no total de incêndios dessas regiões? Qual região possui mais incêndios? Consulte a internet para entender por qual motivo uma das regiões possui mais incêndio que a outra.

In [3]:
# 1)
import pandas as pd

df = pd.read_csv('insurance.csv')
df.head()
df.tail()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [6]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
# Media   = 30.662
# Mediana = 30.4

In [13]:
df['smoker'].value_counts(normalize=1)

smoker
no     0.795217
yes    0.204783
Name: proportion, dtype: float64

In [14]:
df.groupby('smoker')['charges'].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [16]:
df.groupby('smoker')['bmi'].mean()

smoker
no     30.651795
yes    30.708449
Name: bmi, dtype: float64

In [25]:
df.groupby([df['children']==0])['charges'].mean()

children
False    13949.941093
True     12365.975602
Name: charges, dtype: float64

In [24]:

df.groupby([df['children']==1])['charges'].mean()

children
False    13442.727137
True     12731.171832
Name: charges, dtype: float64

In [29]:
import numpy as np
condicoes = [
    df['bmi'] < 20,
    (df['bmi'] >= 20) & (df['bmi'] <= 24.9),
    df['bmi'] > 24.9
]

valores = ['abaixo do normal', 'normal', 'acima do normal']
df['bmi_male'] = np.where(condicoes[0], valores[0], np.where(condicoes[1], valores[1], valores[2]))
df.head()

,age,sex,bmi,children,smoker,region,charges,bmi_male
0,19,female,27.900,0,yes,southwest,16884.92400,acima do normal
1,18,male,33.770,1,no,southeast,1725.55230,acima do normal
2,28,male,33.000,3,no,southeast,4449.46200,acima do normal
3,33,male,22.705,0,no,northwest,21984.47061,normal
4,32,male,28.880,0,no,northwest,3866.85520,acima do normal

In [36]:
# Filtrar homens fumantes com BMI acima do normal
homens_fumantes_acima_do_normal = df[(df['sex'] == 'male') & (df['smoker'] == 'yes') & (df['bmi'] > 24.9)]
homens_fumantes_acima_do_normal.charges.mean()

35243.157532720594

In [16]:
import pandas as pd
df = pd.read_csv('amazon.csv', encoding='latin-1')
df.head()

   year state    month  number        date
0  1998  Acre  Janeiro     0.0  1998-01-01
1  1999  Acre  Janeiro     0.0  1999-01-01
2  2000  Acre  Janeiro     0.0  2000-01-01
3  2001  Acre  Janeiro     0.0  2001-01-01
4  2002  Acre  Janeiro     0.0  2002-01-01

In [6]:
print(f'O Dataframe possui {df.shape[0]} linhas e {df.shape[1]} colunas')

O Dataframe possui 6454 linhas e 5 colunas

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6454 entries, 0 to 6453
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    6454 non-null   int64
 1   state   6454 non-null   object
 2   month   6454 non-null   object
 3   number  6454 non-null   float64
 4   date    6454 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 252.2+ KB

In [8]:
df.loc[100:120, ['year', 'state', 'month']]

     year state  month
100  1998  Acre  Junho
101  1999  Acre  Junho
102  2000  Acre  Junho
103  2001  Acre  Junho
104  2002  Acre  Junho
105  2003  Acre  Junho
106  2004  Acre  Junho
107  2005  Acre  Junho
108  2006  Acre  Junho
109  2007  Acre  Junho
110  2008  Acre  Junho
111  2009  Acre  Junho
112  2010  Acre  Junho
113  2011  Acre  Junho
114  2012  Acre  Junho
115  2013  Acre  Junho
116  2014  Acre  Junho
117  2015  Acre  Junho
118  2016  Acre  Junho
119  2017  Acre  Junho
120  1998  Acre  Julho

In [10]:
df.iloc[100:121, 0:3]

     year state  month
100  1998  Acre  Junho
101  1999  Acre  Junho
102  2000  Acre  Junho
103  2001  Acre  Junho
104  2002  Acre  Junho
105  2003  Acre  Junho
106  2004  Acre  Junho
107  2005  Acre  Junho
108  2006  Acre  Junho
109  2007  Acre  Junho
110  2008  Acre  Junho
111  2009  Acre  Junho
112  2010  Acre  Junho
113  2011  Acre  Junho
114  2012  Acre  Junho
115  2013  Acre  Junho
116  2014  Acre  Junho
117  2015  Acre  Junho
118  2016  Acre  Junho
119  2017  Acre  Junho
120  1998  Acre  Julho

A diferença da sintaxe é que no loc temos que usar o nomes da colunas, e no iloc o indice das colunas

In [11]:
df.state.unique()

array(['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara',
       'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao',
       'Mato Grosso', 'Minas Gerais', 'Pará', 'Paraiba', 'Pernambuco',
       'Piau', 'Rio', 'Rondonia', 'Roraima', 'Santa Catarina',
       'Sao Paulo', 'Sergipe', 'Tocantins'], dtype=object)

In [17]:
df[(df['state']=='Mato Grosso')&(df['year']==2010)]['number'].sum()

6252.445

In [23]:
df[df['state'] == 'Acre']['number'].mean()

77.25535564853556

In [25]:
df[df['state'] == 'Acre']['number'].std()

182.97098297625595

In [30]:
df.groupby('state')['number'].mean()

state
Acre                 77.255356
Alagoas              19.350000
Amapa                91.345506
Amazonas            128.243218
Bahia               187.222703
Ceara               127.314071
Distrito Federal     14.899582
Espirito Santo       27.389121
Goias               157.721841
Maranhao            105.142808
Mato Grosso         201.351523
Minas Gerais        156.800243
Paraiba             109.698573
Pará                102.561272
Pernambuco          102.502092
Piau                158.174674
Rio                  62.985865
Rondonia             84.876272
Roraima             102.029598
Santa Catarina      101.924067
Sao Paulo           213.896226
Sergipe              13.543933
Tocantins           141.037176
Name: number, dtype: float64

In [31]:
# Supondo que 'df' seja o seu DataFrame e que a coluna 'state' contenha os estados

# Criar coluna regiao_sudeste e marcar com 1 se pertencer à região Sudeste, 0 caso contrário
df['regiao_sudeste'] = df['state'].isin(['São Paulo', 'Rio de Janeiro', 'Minas Gerais', 'Espírito Santo']).astype(int)

# Criar coluna regiao_centro_oeste e marcar com 1 se pertencer à região Centro-Oeste, 0 caso contrário
df['regiao_centro_oeste'] = df['state'].isin(['Mato Grosso', 'Mato Grosso do Sul', 'Goiás', 'Distrito Federal']).astype(int)

# Calcular o total de incêndios para cada região
total_incendios_sudeste = df[df['regiao_sudeste'] == 1]['number'].sum()
total_incendios_centro_oeste = df[df['regiao_centro_oeste'] == 1]['number'].sum()

# Calcular a diferença no total de incêndios
diferenca_total_incendios = abs(total_incendios_sudeste - total_incendios_centro_oeste)

print(f'Total de incêndios na região Sudeste: {total_incendios_sudeste}')
print(f'Total de incêndios na região Centro-Oeste: {total_incendios_centro_oeste}')
print(f'Diferença no total de incêndios entre as regiões: {diferenca_total_incendios}')

# Verificar qual região possui mais incêndios
regiao_mais_incendios = 'Sudeste' if total_incendios_sudeste > total_incendios_centro_oeste else 'Centro-Oeste'
print(f'A região com mais incêndios é: {regiao_mais_incendios}')

Total de incêndios na região Sudeste: 37475.258
Total de incêndios na região Centro-Oeste: 99807.02799999999
Diferença no total de incêndios entre as regiões: 62331.76999999999
A região com mais incêndios é: Centro-Oeste